
		.done {
			text-decoration: line-through;
			background-color: #F10E0E
		}
		.a {
			background-color: #0BF452

		}
		.b {
			color: #D90B0B
		}
		.markalldone{
			color: #068703
		}
		.remove {
			color: #F02525
		}
		
